flatbuffers==24.3.25
shellingham==1.5.4
arrow==1.3.0
mne==1.9.0
optimum==1.24.0
async-lru==2.0.4
opentelemetry-instrumentation==0.50b0
langchain-text-splitters==0.3.4
opentelemetry-api==1.29.0
coloredlogs==15.0.1
uri-template==1.3.0
humanfriendly==10.0
rfc3339_validator==0.1.4
executing==2.1.0
hyperframe==6.0.1
pexpect==4.9.0
torchmetrics==1.6.1
torchmetrics==1.6.0
numpy==1.26.3
numpy==1.26.4
absl-py==2.1.0
pandas==2.2.3
lazy_loader==0.4
tomli==2.2.1
nbconvert==7.16.4
opentelemetry-proto==1.29.0
fqdn==1.5.1
decorator==5.1.1
importlib_metadata==8.5.0
pyobjc-framework-Cocoa==10.3.2
filelock==3.16.1
filelock==3.13.1
idna==3.10
wandb==0.19.1
h2==4.1.0
marshmallow==3.23.2
traitlets==5.14.3
language_data==1.3.0
edfio==0.4.6
nest_asyncio==1.6.0
pyasn1_modules==0.4.1
Markdown==3.7
smmap==5.0.1
scikit-learn==1.6.0
pandocfilters==1.5.0
multidict==6.1.0
ptyprocess==0.7.0
fastapi==0.115.6
prometheus_client==0.21.1
isoduration==20.11.0
murmurhash==1.0.11
nltk==3.9.1
unicodedata2==15.1.0
lxml==5.3.0
faiss==1.7.4
importlib_resources==6.4.5
PyQt5_sip==12.17.0
GitPython==3.1.43
fonttools==4.55.3
segment-anything==1.0
urllib3==2.2.3
overrides==7.7.0
invisible-watermark==0.2.0
parso==0.8.4
webencodings==0.5.1
colorama==0.4.6
uvicorn==0.34.0
opentelemetry-util-http==0.50b0
tokenizers==0.21.0
tinycss2==1.4.0
python-picard==0.8
zipp==3.21.0
typer==0.15.1
langchain-openai==0.2.14
entrypoints==0.4
translate==3.6.1
opentelemetry-exporter-otlp-proto-grpc==1.29.0
python-json-logger==2.0.7
msgpack==1.1.0
aiohttp==3.11.10
defusedxml==0.7.1
referencing==0.35.1
googleapis-common-protos==1.66.0
frozenlist==1.5.0
pickleshare==0.7.5
Jinja2==3.1.4
Jinja2==3.1.3
httpx-sse==0.4.0
opentelemetry-instrumentation-fastapi==0.50b0
imageio==2.36.1
spacy-legacy==3.0.12
chromadb==0.5.23
nbclient==0.10.1
gitdb==4.0.11
torchaudio==2.2.2
ninja==1.11.1.3
cymem==2.0.10
wrapt==1.17.0
markdown-it-py==3.0.0
bitsandbytes==0.42.0
sympy==1.13.3
sympy==1.13.1
safetensors==0.4.5
transformers==4.52.0.dev0
seaborn==0.13.2
mypy-extensions==1.0.0
qiskit-aer==0.16.2
h11==0.14.0
plotly==5.24.1
wheel==0.44.0
networkx==3.4.2
networkx==3.2.1
opentelemetry-sdk==1.29.0
colorlog==6.9.0
micrograd==0.1.0
spacy==3.8.3
jedi==0.19.2
kagglehub==0.3.10
spacy-loggers==1.0.5
joblib==1.4.2
typing-inspect==0.9.0
PyQt6-Qt6==6.8.2
notebook==7.3.1
qiskit==1.4.0
PyQt6_sip==13.10.0
langchainhub==0.1.21
setuptools==75.1.0
grpcio==1.68.1
pytz==2024.1
PySocks==1.7.1
patsy==1.0.1
huggingface==0.0.1
catalogue==2.0.10
jupyter_server==2.14.2
libretranslatepy==2.1.1
jupyter_client==8.6.3
rich==13.9.4
asttokens==3.0.0
opentelemetry-instrumentation-asgi==0.50b0
tqdm==4.67.1
jupyterlab_widgets==3.0.13
Mako==1.3.8
hpack==4.0.0
fastjsonschema==2.21.1
exceptiongroup==1.2.2
chroma-hnswlib==0.7.6
faiss-cpu==1.7.3
jupyter-events==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
pydantic_core==2.27.1
langchain==0.3.13
pytorch-lightning==2.5.0.post0
pyzmq==26.2.0
appnope==0.1.4
mistune==3.0.2
opencv-python==4.6.0
weasel==0.4.1
PyWavelets==1.8.0
kubernetes==31.0.0
confection==0.1.5
coremltools==8.1
tenacity==9.0.0
cffi==1.17.1
jsonschema==4.23.0
openai==1.58.1
opentelemetry-semantic-conventions==0.50b0
torchtext==0.17.2
nbformat==5.10.4
propcache==0.2.1
pyasn1==0.6.1
async-timeout==4.0.3
stack_data==0.6.3
argon2-cffi==23.1.0
cattrs==24.1.2
cachetools==5.5.0
en_core_web_sm==3.8.0
asgiref==3.8.1
threadpoolctl==3.5.0
dataclasses-json==0.6.7
oauthlib==3.2.2
cached-property==1.5.2
multiprocess==0.70.16
gmpy2==2.1.5
SQLAlchemy==2.0.36
Werkzeug==3.1.3
pbr==6.1.1
kiwisolver==1.4.7
jupyter_core==5.7.2
python-dotenv==1.0.1
xxhash==3.5.0
rarfile==4.2
pyparsing==3.2.0
PyMuPDFb==1.23.22
langchain-community==0.3.13
gym-notices==0.0.8
torch-geometric==2.6.1
regex==2024.11.6
soupsieve==2.5
requests==2.31.0
Send2Trash==1.8.3
fsspec==2024.12.0
fsspec==2024.2.0
jupyter-lsp==2.2.5
pillow==10.2.0
pillow==11.0.0
sentence-transformers==3.4.1
hub==3.0.1
pydantic-settings==2.7.0
sniffio==1.3.1
accelerate==1.7.0.dev0
jsonschema-specifications==2024.10.1
diffusers==0.32.2
matplotlib==3.10.0
mdurl==0.1.2
einops==0.8.0
blis==1.1.0
symengine==0.13.0
smart-open==7.0.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython==8.30.0
jupyterlab_pygments==0.3.0
opentelemetry-exporter-otlp-proto-common==1.29.0
build==1.2.2.post1
types-requests==2.32.0.20241016
optuna==4.1.0
thinc==8.3.3
yarl==1.18.3
preshed==3.0.9
rsa==4.9
Deprecated==1.2.15
wcwidth==0.2.13
packaging==24.2
widgetsnbextension==4.0.13
orjson==3.10.12
torchsummary==1.5.1
torch==2.2.2
json5==0.10.0
certifi==2025.1.31
pyarrow==18.1.0
deeplake==4.1.17
wasabi==1.1.3
babel==2.16.0
onnx==1.17.0
Brotli==1.1.0
jupyterlab_server==2.27.3
pyaml==24.12.1
webcolors==24.11.1
httpcore==1.0.7
prompt_toolkit==3.0.48
pycparser==2.22
cycler==0.12.1
websockets==14.1
jupyterlab==4.3.3
ipywidgets==8.1.5
pip==24.2
rustworkx==0.16.0
torchvision==0.17.2
langcodes==3.5.0
pooch==1.8.2
dill==0.3.8
comm==0.2.2
watchfiles==1.0.3
pygame==2.6.1
marisa-trie==1.2.1
starlette==0.41.3
statsmodels==0.14.4
hf-xet==1.0.3
pure_eval==0.2.3
PyQt5-Qt5==5.15.16
tornado==6.4.2
alembic==1.14.0
distro==1.9.0
cloudpickle==3.1.1
tensorboard==2.18.0
jiter==0.8.2
MarkupSafe==2.1.5
MarkupSafe==3.0.2
langsmith==0.2.4
psutil==6.1.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
munkres==1.1.4
onnxruntime==1.20.1
terminado==0.18.1
bcrypt==4.2.1
zstandard==0.23.0
requests-toolbelt==1.0.0
contourpy==1.3.1
httptools==0.6.4
sentry-sdk==2.19.2
argon2-cffi-bindings==21.2.0
PyQt6==6.8.1
mne-icalabel==0.7.0
aiosignal==1.3.2
typing_extensions==4.12.2
langchain-core==0.3.28
PyYAML==6.0.2
httpx==0.28.1
rpds-py==0.22.3
pkgutil_resolve_name==1.3.10
scipy==1.14.1
attrs==24.3.0
anyio==4.7.0
matplotlib-inline==0.1.7
sentencepiece==0.2.0
monotonic==1.6
pydantic==2.10.3
charset-normalizer==3.4.0
ray==2.40.0
backoff==2.2.1
tensorboard-data-server==0.7.2
lightning==2.5.0.post0
peft==0.14.0
tzdata==2024.2
PyMuPDF==1.23.26
jupyter_server_terminals==0.5.3
tiktoken==0.8.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
pyproject_hooks==1.2.0
lightning-utilities==0.11.9
google-auth==2.37.0
beautifulsoup4==4.12.3
srsly==2.5.0
uvloop==0.21.0
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
protobuf==5.29.1
ipykernel==6.29.5
cloudpathlib==0.20.0
posthog==3.7.4
gym==0.26.2
setproctitle==1.3.4
annotated-types==0.7.0
mmh3==5.0.1
datasets==3.2.0
debugpy==1.8.11
PyPika==0.48.9
six==1.17.0
Pygments==2.18.0
requests-oauthlib==2.0.0
typing_utils==0.1.0
greenlet==3.1.1
durationpy==0.9
pyobjc-core==10.3.2
unsloth==2025.3.19
huggingface-hub==0.30.1
click==8.1.7
stevedore==5.4.1
notebook_shim==0.2.4
websocket-client==1.8.0
